.book-details {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.book-details img {
  justify-self: center;
  grid-column: 2/4;
  grid-row: 2/4;
}

.book-details .book-title {
  grid-column: 1/3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.book-details .book-subtitle {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;

  color: var(--gray2);
}

.book-details .price-red {
  color: red;
}
.book-details .price-green {
  color: green;
}

.book-details :is(.book-date, .book-pages, .book-categories, .book-language) {
  color: var(--gray2);
  font-size: 0.9em;
  align-self: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.book-details .book-price {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.book-details.sale-book::after {
  position: absolute;
  bottom: 35%;
  right: 25%;
  z-index: 10;
  content: 'On Sale!';
  font: 1em Impact;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  rotate: -13.33deg;
  width: 120px;
  height: 30px;
  background-color: red;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  scale: 2.2;
}
